extends ../layout
block content
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3                                
            h2.text-center 统计
            hr
            ul.population-table
                li 
                    span.tag 建立于:&#9;
                    span.text-primary #{daysRunning}
                    | 天以前
                li.nowrap
                    span.tag 完成了:&#9;
                    span.text-primary #{globalCompletedCount}
                    | 节课程
    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 友情链接
            hr
            table.table.link-table
                tr
                    td.text-center
                        i.fa.fa-medium
                    td
                        a(href='//jk.zhongyi06.com', target='_blank') 莲池健客
                tr
                    td.text-center
                        i.fa.fa-comment
                    td
                        a(href="//zyjishi.com") 中医济世网
    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 常见问题
            hr
            html
                <h4>莲池学堂是做什么的?</h4>
                <p class="negative-15">莲池学堂是帮助大家学习传统中医和传统文化的网络课堂</h4>
                <h4>莲池学堂是免费的么?</h4>
                <p class="negative-15">莲池学堂的课程都是免费的.</p>
                <h4>莲池学堂靠什么获得运营资金?</h4>
                <p class="negative-15">大家如果觉得从莲池学堂这里获得了帮助，可以自愿捐助我们.</p>
                

    .spacer
    .row
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3
            h2.text-center 如何联系我们
            table.table.table-stripe
                tr
                    td 技术支持 (
                        a(href='mailto:6830920@qq.com') 6830920@qq.com
                        | )
                    td
                        雁邱
                