include font
#name.cert-name= name
img#cert.img-abs(src='http://learn.zhongyi06.com/%E4%B8%AD%E5%8C%BB%E5%9F%BA%E7%A1%80%E8%AF%81%E4%B9%A6.jpg')
.cert-date= date
// .cert-link verify this certification at: http://freecodecamp.cn/#{username}/front-end-certification
include script
