extends layout
block content
    .text-center
        h2 学习传统中医
        .spacer
        .row
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                .button-spacer
                span 自学传统中医是一场充满艰难的旅行
                br
                span 因此一路上我们会给你加油打气
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_learn.svg', alt='Learn to code and learn full stack JavaScript')
                .button-spacer
                span 无尽的课程等你来挑战
                br
                span 像打游戏一样学习中医
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_nonprofits.svg', alt='Empower nonprofits with code')
                .button-spacer
                span 遇到问题先搜索再求助
                br
                span 大家积极助你度过难关
                .spacer
            .col-xs-12.col-sm-6.col-md-3
                img.img-responsive.landing-icon.img-center(src= '/images/landingIcons_portfolio.svg', alt='Build a portfolio of apps for nonprofits')
                .button-spacer
                span 一步步丰富自己的传统文化知识
                br
                span 让你体会中国传统圣贤的伟大
                .spacer
        .big-break
        .big-break
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") 准备好了，开始!
                .button-spacer
               
        script.
            challengeName = 'Home'
